body {
  font-family: 'Merriweather', serif;
  text-align: center;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

img {
  display: block;
  margin: 0 auto;
}

footer {
  margin-bottom: 70px;
}

footer > p {
  float: right !important;
}

.navbar-header .navbar-toggle .icon-bar {
  background-color: black;
}

.park {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.park-img {
  width: 100%;
  object-fit: cover;
}

.b-lazy {
  max-width: 100%;
  -webkit-transition: opacity 500ms ease-in-out;
     -moz-transition: opacity 500ms ease-in-out;
       -o-transition: opacity 500ms ease-in-out;
          transition: opacity 500ms ease-in-out;
  opacity: 0;
}

.b-lazy.b-loaded {
  opacity: 1;
}

.park-state {
  position: absolute;
  top: 5px;
  right: 25px;
  color: #ffffff;
  -webkit-text-stroke: 1px #c0c0c0;
}

.foursquare-and-distance {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foursquare-and-distance > * {
  margin-bottom: 0;
  flex: 1;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 0;
  justify-content: space-between;
}

.park-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: center;
}

.park-hero {
  width: 100%;
  object-fit: cover;
}

.foursquare-swarm-div {
  display: block;
}

.foursquare-swarm-sm {
  display: none;
}

.foursquare-swarm-img {
  width: 100%;
}

.park-map-overlay {
  position: relative;
  top: 360px;
  width: 100%;
  height: 360px;
  margin-top: -360px;
  background: transparent;
}

.park-map {
  width: 100%;
  height: 360px;
}

.weather-div {
  display: flex;
  margin-bottom: 0;
}

.weather-day {
  flex: 1;
}

.weather-tabs {
  display: none;
}

#weatherTabs {
  display: flex;
}

#weatherTabs > li {
  text-align: center;
  flex: 1;
}

.temp-high {
  color: #ff0000;
}

.temp-low {
  color: #0000ff;
}

#map {
  width: 100%;
}

@media (max-width: 768px) {

  .toolbar-home > * {
    width: 100%;
    margin-bottom: 10px;
  }

  .dropdown > * {
    width: 100%;
  }

  .park-state {
    margin-top: 0;
  }

  .park-hero {
    height: 389.33px !important;
  }

  .weather-div {
    display: none;
  }

  .weather-tabs {
    display: block;
  }

}

@media (min-width: 768px) {

  .toolbar-home {
    display: flex;
    justify-content: space-between;
  }

  .park-img {
    height: 220px;
  }

  .foursquare-and-distance > * {
    font-size: 0.65em;
  }

  .park-hero {
    height: 458.67px !important;
  }

  .foursquare-swarm-div {
    display: none;
  }

  .foursquare-swarm-sm {
    display: flex;
  }

  .foursquare-swarm-sm > * {
    flex: 1;
    align-self: center;
  }

  .foursquare-swarm-img-sm {
    width: 50%;
  }

}

@media (min-width: 992px) {

  .park-img {
    height: 293.33px;
  }

  .foursquare-and-distance > * {
    font-size: 1em;
  }

  .park-row {
    display: flex;
  }

  .park-hero {
    height: 390px !important;
  }

  .foursquare-swarm-div {
    display: block;
  }

  .foursquare-swarm-sm {
    display: none;
  }

}

@media (min-width: 1200px) {

  .park-img {
    height: 360px;
  }

  .park-hero {
    height: 478.66px !important;
  }

}
