a {
  text-decoration: none !important;
}

img {
  margin: 0 auto;
}

p {
  text-align: center;
}

footer {
  margin-bottom: 20px;
}

.park {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.park-img {
  width: 100%;
  object-fit: cover;
}

.park-state {
  position: absolute;
  color: #ffffff;
  top: 5px;
  right: 25px;
  -webkit-text-stroke: 1px #c0c0c0;
}

.foursquare-and-distance {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foursquare-and-distance > * {
  flex: 1;
  margin-bottom: 0;
}

#map {
  height: 60vh;
  width: 100%;
}

@media (max-width: 768px) {

  .break {
    display: block;
  }

  .toolbar-home > * {
    width: 100%;
    margin-bottom: 10px;
  }

  .dropdown > * {
    width: 100%;
  }

  .park-state {
    margin-top: 0;
  }

}

@media (min-width: 768px) {

  .break {
    display: none;
  }

  .toolbar-home {
    display: flex;
    justify-content: space-between;
  }

  .park-img {
    height: 220px;
  }

  .foursquare-and-distance > * {
    font-size: 0.85em;
  }

}

@media (min-width: 992px) {

  .park-img {
    height: 293.33px;
  }

  .foursquare-and-distance > * {
    font-size: 1em;
  }

}

@media (min-width: 1200px) {

  .park-img {
    height: 360px;
  }

}
