footer {
  margin: 50px 0;
}

.park-img {
  height: 350px;
  width: 350px;
  display: block;
  margin: auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.row-parks {
  margin-top: 20px;
}
