<div>
  <div class="row">
    <div class="col-xs-12">
      <div class="dropdown pull-right dropdown-sort">
        <button class="btn btn-default dropdown-toggle" type="button" id="sortMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{sortText}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortMenu">
          <li ng-repeat="sort in sorts"><a ng-click="sortSelected(sort)">{{sort}}</a></li>
        </ul>
      </div>
      <div class="dropdown pull-right dropdown-state">
        <button class="btn btn-default dropdown-toggle" type="button" id="stateMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{stateText}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="stateMenu">
          <li ng-repeat="state in states"><a ng-click="stateSelected(state)">{{state}}</a></li>
        </ul>
      </div>
      <div class="input-group pull-right search">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
      </div>
      <div class="col-xs-12 col-sm-5 pull-right warning-rating" ng-if="sortField == '+venue.rating' || sortField == '-venue.rating'">
        Parks with no rating are ommited.
      </div>
      <div>
        <a ui-sref="app.map" class="btn btn-info btn-map" role="button">Map with Parks</a>
      </div>
    </div>
  </div>

  <div class="row" ng-repeat="i in getNumRows() track by $index" ng-init="parentIndex = $index">
    <div class="col-sm-4 park" ng-repeat="park in parks | filter:{venue:{location:{state:stateField}}}:true | filter:{venue:{name:searchText}} | orderBy:sortField | limitTo:3:parentIndex * 3" ng-if="parkHasRating(park)">
      <div ng-if="park.show" style="text-align:center;">
        <a href="{{park.venue.url}}" target="_blank">
          <img class="img-responsive park-img" ng-src="{{park.photoUrl}}" alt="{{park.venue.name}}">
        </a>
        <h3 class="text-center">
          <a href="{{park.venue.url}}" target="=_blank">{{park.venue.name}}</a>
        </h3>
        <p>Since 1916, the National Park Service has been entrusted with the care of our national parks. With the help of volunteers and partners, we safeguard these special places and share their stories with more than 275 million visitors every year. But our work doesn't stop there.</p>
      </div>
    </div>
  </div>
</div>
