<div class="row">
  <div class="col-xs-12">
    <a ui-sref="app" class="btn btn-info btn-map" role="button" style="margin-bottom:20px;">Back</a>
  </div>
</div>
<div id="parkCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item" ng-class="{'active': $first}" ng-repeat="photo in park.photos">
      <img class="{{$index}}-slide" ng-src="{{photo.src}}" alt="{{photo.title}}" style="height:750px;width:100%;">
    </div>
  </div>
</div>
