<div class="row park-row" style="border:1px solid red;">
  <div class="park-col col-sm-12 col-md-8" style="border:1px solid green;">
    <slick class="slider" current-index="0" settings="slickConfig" ng-if="isPhotosFetched">
      <div class="park-hero-div" ng-repeat="i in [0,1,2,3,4]">
        <img class="park-hero" ng-src="{{park.flickrPhotos[i].src}}" alt="{{park.flickrPhotos[i].alt}}">
      </div>
    </slick>
  </div>
  <div class="park-col col-sm-12 col-md-4" style="border:1px solid green;">
    <h2 class="text-center">{{park.fullName}}</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>{{park.description}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row park-row" style="border:1px solid red;">
  <div class="park-col col-sm-12 col-md-4" style="border:1px solid green;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Foursquare</h3>
      </div>
      <div class="panel-body">
        <h3>Rating: {{park.foursquare.venue.rating}}</h3>
        <h3># of Ratings: {{park.foursquare.venue.ratingSignals}}</h3>
        <h3>Checkins: {{park.foursquare.venue.stats.checkinsCount}}</h3>
      </div>
    </div>
  </div>
  <div class="park-col col-sm-12 col-md-8" style="border:1px solid green;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Location</h3>
      </div>
      <div id="parkMap"></div>
      <div class="panel-footer">
        {{park.directionsInfo}}
      </div>
    </div>
  </div>
</div>
<div class="row park-row" style="border:1px solid red;">
  <div class="park-colcol-sm-12 col-md-8" style="border:1px solid green;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Weather</h3>
      </div>
      <div class="panel-body">

      </div>
      <div class="panel-footer">
        {{park.weatherInfo}}
      </div>
    </div>
  </div>
  <div class="park-col col-sm-12 col-md-4" style="border:1px solid green;">
    <p><a href="{{park.directionsUrl}}">Directions URL</a></p>
    <p><a href="{{park.url}}">Park URL</a></p>
  </div>
</div>
